body{
  font-family: var(--font_family);
  font-weight: var(--font_weight-regular);
  font-size: var(--base-space-2);
  padding: 15px;
}
.bold{
  font-weight: var(--font_weight-bold);
}
.underline{
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font_weight-bold);
  font-size: var(--base-space-3);
}


.card{
  margin-top: var(--base-space-12);
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.flex-center{
  align-items: center;
}
