:root {

  /****
Spacing
 ****/
  --base-space-value: 8px;
  --base-space-0: calc(var(--base-space-value)*0);
  --base-space-1: calc(var(--base-space-value)*1);
  --base-space-2: calc(var(--base-space-value)*2);
  --base-space-3: calc(var(--base-space-value)*3);
  --base-space-4: calc(var(--base-space-value)*4);
  --base-space-5: calc(var(--base-space-value)*5);
  --base-space-6: calc(var(--base-space-value)*6);
  --base-space-7: calc(var(--base-space-value)*7);
  --base-space-8: calc(var(--base-space-value)*8);
  --base-space-9: calc(var(--base-space-value)*9);
  --base-space-10: calc(var(--base-space-value)*10);
  --base-space-11: calc(var(--base-space-value)*11);
  --base-space-12: calc(var(--base-space-value)*12);
  --base-space-13: calc(var(--base-space-value)*13);
  --base-space-14: calc(var(--base-space-value)*14);
  --base-space-15: calc(var(--base-space-value)*15);





  /****
Color
 ****/

  --color-primary-purple: #7B61FF;
  --color-primary-purple_light: #A6AAF3;
  --color-primary-purple_dark: #5537F3;
  --color-primary-purple_medium: #9582F8;
  --color-secondary-black: #4A4A68;
  --color-secondary-grey: #C9CAE1;
  --color-secondary-white: #FFFFFF;
  --color-semantic-red: #E20E00;
  /****
Font
 ****/
  --font_family: "Work Sans";
  --font_weight-bold: 700;
  --font_weight-regular: 400;
/* 
  --text-color-primary-purple: var(--color-primary-purple);
  --text-color-primary-purple_light: var(--color-primary-purple_light);
  --text-color-primary-purple_dark: var(--color-primary-purple_dark);
  --text-color-primary-purple_medium: var(--color-primary-purple_medium);
  --text-color-secondary-black: var(--color-secondary-black);
  --text-color-secondary-grey: var(--color-secondary-grey);
  --text-color-secondary-white: var(--color-secondary-white);
  --text-color-semantic-red: var(--color-semantic-red); */

  /****
Button
 ****/

  --button-border_radius: 5px;
  --button-width: 100px;

  /****
Transition
 ****/

  --transition_button: 0.3s;

  /****
Input
 ****/

  --input-width: calc(100% - 16px);
  --input-border_radius: 10px;

}
